* {
    box-sizing: border-box;
  }
body {
    background-color:#333;
    font-family:'Lato',sans-serif;
    color:#222;
    margin: 0;
    overflow-x: hidden;
}
p {
    font-family: 'League Gothic', sans-serif;
}
#login {
    position:absolute;
    right:40px;
    top: 40px;
}
#login-logo {
    height: 96px;
    width: 96px;
}
a{
    text-decoration: none;
}
.fas {
  color:rgb(24, 131, 3);
}
.navbar {
    color : #059862;
}
.konteynır {
    width: 100vw;
    min-height: 100vh;
    padding-top: 100px;
    background-color:#d5d5d5;
    min-height: 100vh;
    padding:50px;
    transform-origin: top left;
    transition: transform 0.5s linear;
}
.konteynır.show-nav {
    transform: rotate(-20deg);
}
.btn-konteynır {
    position: fixed;
    top:-100px;
    left:-100px;
}
.btn {
    background-color: rgb(65, 253, 8);
    height:200px;
    width:200px;
    border-radius: 50%;
    position:relative;
    transition:transform 0.5s linear;
}
.konteynır.show-nav .btn {
    transform: rotate(-70deg);
}
.btn button {
    cursor: pointer;
    position:absolute;
    top: 50%;
    left:50%;
    height:100px;
    background: transparent;
    border:0;
    font-size:26px;
    color:#fff;
}
.btn button:focus {
    outline: none;
}
.btn button#open {
    left: 60%;
    color:#2c2c2c;
}
.btn button#close {
    color:#2c2c2c;
    top:60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.konteynır.show-nav + nav li {
    transform: translateX(50px);
    transition-delay:0.3s ;
}
nav { 
    position:fixed;
    bottom:40px;
    left:0px;
    z-index:100;
    margin-left: -30px;
}
nav ul {
    list-style-type:none;
    padding-left:30px;
}
nav ul li {
    text-transform: uppercase;
    color:#fff;
    margin: 60px 0;
    transform:translateX(-100%);
    transition: transform 0.4s ease-out;
}
nav ul li i {
    font-size:20px;
    margin-right:10px;
}
nav ul li + li {
    margin-left:30px;
    transform:translateX(-150%);
}
nav ul li + li + li {
    margin-left: 60px;
    transform: translateX(-200%);
}
.contents img {
    max-width: 100%;
}
.contents {
    background-color:#d5d5d5;
    max-width: 1000px;
    margin: 50px auto;
}
#bg-1{
    background-color:#F29999
}
#bg-2{
    background-color:#F2B680
}
#bg-3{
    background-color:#6BB983
}
#bg-4{
    background-color:#79A7A8    
}

@media only screen and (max-width: 800px) {
    .btn {
      width: 185px;
      height: 185px;
    }
    .konteynır {
      padding: 30px 0px 30px 0px;
    }
    .konteynır.show-nav + nav li {
      transform: translateX(30px);
    }
    #login {
      right:20px;
      top:20px;
    }
    #login-logo {
      height:48px;
      width:48px;
    }
  }